<h2>My Companies</h2>

<div *ngIf="isLoggedIn; else login">
  <label>Company name:</label>
  <input id="company-input" #companyName/>
  <button class="add-company" (click)="add(companyName.value); companyName.value=''">
    Add
  </button>
</div>

<ng-template #login >
  <div>
    <label>Log in to add companies</label>
  </div>
</ng-template>

<app-company-filter (changeFilterClicked)="getCompanies($event)"></app-company-filter>

<label>Sort by:</label>
<select [(ngModel)]="sortValue">
  <option value="name">Name</option>
  <option value="averageRating">Rating</option>
  <option value="nComments">Comments</option>
</select>

<ul class="companies">
  <li *ngFor="let company of companies | sortNames:sortValue" (click)="onSelect(company)"
      [class.selected]="company === selectedCompany">
    <span *ngIf="company.averageRating" class="badge">{{company.averageRating.toFixed(1)}}</span>
    <span>{{company.name}}</span>
    <button class="delete"
      (click)="delete(company); $event.stopPropagation()">x</button>
  </li>
</ul>
<button (click)="getCompanies()">Previous page</button>
<button (click)="getNextPageCompanies()">Next page</button>
