<h2>Companies</h2>

<mat-card *ngIf="isLoggedIn; else login">
  <form>
    <mat-form-field>
      <input matInput placeholder="Company name" id="company-input" #companyName/>
    </mat-form-field>
    <button mat-raised-button class="add-company" (click)="add(companyName.value); companyName.value=''">
    Add
  </button>
  </form>

  
</mat-card>

<ng-template #login >
  <div>
    <label>Log in to add companies</label>
  </div>
</ng-template>

<app-company-filter (changeFilterClicked)="getCompanies($event)"></app-company-filter>

<label>Sort by:</label>
<mat-form-field>
  <mat-select [(ngModel)]="sortValue">
    <mat-option value="name">Name</mat-option>
    <mat-option value="averageRating">Rating</mat-option>
    <mat-option value="nComments">Comments</mat-option>
  </mat-select>
</mat-form-field>



<mat-list class="companies">
  <mat-list-item *ngFor="let company of companies | sortNames:sortValue" (click)="onSelect(company)"
      [class.selected]="company === selectedCompany">
    <mat-icon matListIcon>
      <mat-card *ngIf="company.averageRating" class="badge">{{company.averageRating.toFixed(1)}}</mat-card>
    </mat-icon>
    <h3 matLine>{{company.name}}</h3>
  </mat-list-item>
</mat-list>
<button mat-raised-button (click)="getCompanies()">Previous page</button>
<button mat-raised-button (click)="getNextPageCompanies()">Next page</button>
