<h2>My Companies</h2>

<div>
  <label>Company name:</label>
  <input id="company-input" #companyName/>
  <button class="add-company" (click)="add(companyName.value); companyName.value=''">
    Add
  </button>
</div>

<div>
  <label>Min rating:</label>
  <select (change)="getCompanies(minRating.value, minComments.value)" #minRating>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
</div>
<div>
  <label>Min comment:</label>
  <select (change)="getCompanies(minRating.value, minComments.value)" #minComments>
    <option value="0">0</option>
    <option value="10">10</option>
    <option value="100">100</option>
  </select>
</div>

<label>Sort by:</label>
<select [(ngModel)]="sortValue">
  <option value="name">Name</option>
  <option value="averageRating">Rating</option>
  <option value="nComments">Comments</option>
</select>

<ul class="companies">
  <li *ngFor="let company of companies | sortNames:sortValue" (click)="onSelect(company)"
      [class.selected]="company === selectedCompany">
    <span class="badge">{{company.id}}</span>
    <span>{{company.name}}</span>
    <button class="delete"
      (click)="delete(company); $event.stopPropagation()">x</button>
  </li>
</ul>

<div *ngIf="selectedCompany">
  <h2>
    {{selectedCompany.name | uppercase}} is my company
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
