<div *ngIf="isLoggedIn; else login" >
  <label>Review rating:</label>
  <input id="review-input-rating" #reviewRating />
  <label>Review comment:</label>
  <input id="review-input-comment" #reviewComment />
  <button mat-raised-button
    class="add-review"
    (click)="
      add(reviewRating.value, reviewComment.value);
      reviewRating.value='';
      reviewComment.value=''
    "
    >
    Add
  </button>
</div>

<ng-template #login >
  <div>
    <label>Log in to add reviews</label>
  </div>
</ng-template>


<mat-list class="reviews">
  <mat-list-item *ngFor="let review of reviews" (click)="onSelect(review)"
      [class.selected]="review === selectedReview">
    <mat-icon matListIcon>
      <mat-card class="badge">{{review.rating}}</mat-card>
    </mat-icon> 
    <h3 matLine>{{review.comment}}</h3>
    <button  mat-raised-button *ngIf="username===review.user.username" class="delete"
      (click)="delete(review); $event.stopPropagation()">x</button>
  </mat-list-item>
</mat-list>
<div *ngIf="selectedReview">
  <app-review-detail [review]="selectedReview" ></app-review-detail>
</div>
