<mat-card *ngIf="isLoggedIn; else login" id="add-review-card" >
  <mat-card-title>Add review</mat-card-title>
  <mat-card-content>
    <form class="add-review">
        <mat-slider
          [max]="5"
          [min]="1"
          [step]="1"
          [thumbLabel]="true"
          #reviewRating
          id="review-input-rating"
        ></mat-slider>
      <mat-form-field>
        <textarea 
          matInput
          placeholder="Comment"
          #reviewComment
        ></textarea>
      </mat-form-field>
      <button mat-raised-button
        class="add-review delete"
        (click)="
          add(reviewRating.value, reviewComment.value);
          reviewRating.value='';
          reviewComment.value=''
        "
        >
        Add
      </button>
    </form>
  </mat-card-content>
</mat-card>

<ng-template #login >
  <div>
    <label>Log in to add reviews</label>
  </div>
</ng-template>


<mat-list class="reviews">
  <mat-list-item *ngFor="let review of reviews" (click)="onSelect(review)"
      [class.selected]="review === selectedReview">
    <mat-icon matListIcon>
      <mat-card class="badge">{{review.rating}}</mat-card>
    </mat-icon> 
    <h3 matLine>{{review.comment}}</h3>
    <button  mat-raised-button *ngIf="username===review.user.username" class="delete"
      (click)="delete(review); $event.stopPropagation()">x</button>
  </mat-list-item>
</mat-list>
<div *ngIf="selectedReview">
  <app-review-detail [review]="selectedReview" ></app-review-detail>
</div>
