<h1 id="welcome-user">
  Welcome {{username}}
</h1>

<div *ngIf="reviews">
  <p>Your reviews:</p>
  <mat-list class="reviews">
    <mat-list-item *ngFor="let review of reviews" (click)="onSelect(review)"
        [class.selected]="review === selectedReview">
      <mat-icon matListIcon>
        <mat-card class="badge">{{review.rating}}</mat-card>
      </mat-icon> 
      <h3 matLine>{{review.comment}}</h3>
      <button mat-raised-button class="delete"
        (click)="delete(review); $event.stopPropagation()">x</button>
    </mat-list-item>
  </mat-list>
</div>
