<div *ngIf="company">
  <h2>{{company.name}} details!</h2>
  <div>
    <label>id: </label>{{company._id}}
  </div>
  <div>
    <label>name:</label>{{company.name}}
  </div>
  <div *ngIf="company.averageRating">
    <label>Rating: </label>{{company.averageRating.toFixed(1)}}
  </div>
  <div *ngIf="company.nComments">
    <label>Comments:</label>{{company.nComments}}
  </div>
  <button (click)="goBack()">Back</button>
</div>
<reviews (reviewsChanged)="getCompany()" [company]="company" ></reviews>
